.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background: #050a0c;
  background-image: -webkit-linear-gradient(to top, #14242a, #0f1d22, #050a0c);
  background-image: linear-gradient(to top, #14242a, #0f1d22, #050a0c);
}
.login {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  width: 100%;
  color: rgb(28, 30, 30);
}
@media (min-width: 576px) {
  .login {
    min-width: 400px;
    max-width: 400px;
  }
}
.login_title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  width: 352px;
  position: absolute;
  top: 40px;
  text-shadow: 2px 2px #778690;
  color: white;
}
@media (max-width: 576px) {
  .login_title {
    width: calc(100% - 48px);
    top: 32px;
  }
}
@media (min-width: 768px) {
  .login_form {
    margin: 0 2rem;
  }
}
.login_button_container {
  text-align: center;
  padding: 1rem 0 0;
}
.login_container {
  text-align: center;
  margin: 1.5rem 0 0.5rem;
}
.login_message {
  text-align: center;
  position: relative;
}
.login_canvas_container {
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}
.login_canvas_container * {
  border-radius: 50%;
}
@media (max-width: 576px) {
  .login_canvas_container {
    width: 230px;
    height: 230px;
  }
  .login_canvas_container * {
    width: 230px !important;
    height: 230px !important;
  }
}
